
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-cancel-2:before { content: '\e804'; } /* '' */
.icon-user-2:before { content: '\e806'; } /* '' */
.icon-lock-1:before { content: '\e807'; } /* '' */