body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.container {
    width: 800px;
    height: 600px;
    background: rgb(87,52,89);
    background: radial-gradient(circle, rgba(87,52,89,1) 35%, rgba(47,14,50,1) 100%);
    overflow: auto;
    box-sizing: border-box;
    padding: 15px;
    position: relative;        
    margin: 15px auto;
}
.container .column {
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    background-color: #f2f2f2;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}
        
        
        
.container .login{
    width: 380px;
    height: 25px;
    background-color: #754f78;
    color: white;
    text-align: center;
    padding: 10px 10px 9px 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    position: relative;
    
}
.input-field{
    width: 340px;
    height: 30px;
    margin: 20px auto;
    font-family: sans-serif;
    color: #567;
    padding: 10px;
    background-color: #f0eef0;
    border: 1px solid #dfdfdf;
    outline: 0;
    border-radius: 5px;
    transition: 200ms ease;
    
    
    
 }
button {
    background-color: #724d75;
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    border: 2px solid #724d75;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    
}
.container .login-form{
    padding-left: 20px;
    position: relative;
    /*padding-right: 50px;*/
}
a{
    text-decoration: none;
    color:#567 ;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    float: right;
    margin: 15px;
}
.icon-login > i{
    font-size: 18px;
    padding-right: 50px;
    color:white;
    position: absolute;
               
}
.icon-login {
    position: relative;
}
        
.icon-cancel{
    float: right;
    cursor: pointer;
}
        
.icon-cancel:hover, .icon-cance:after {
    content: '\e800';
    transform: rotate(0deg);
    transition: 1s;
    transform: scale(2);
}
.icon i {
    color: #567;
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    
    
}
.input-field:focus {
    
    border: 1px solid #cc9ccf;
    box-shadow: rgba(233, 239, 255, 0.5) 0 0 4px;
}
        
        
        
.input-field:disabled {
    opacity: .5;
}
.submit{
    cursor: pointer;
}

.switcher-checkbox {
    display: none;
}
.switcher-checkbox + .switcher {
    display: block;
    width: 70px;
    height: 25px;
    background-color: #8d8999;
    border-radius: 10px;
    position: relative;
    transition: 400ms ease;
}
.switcher-checkbox + .switcher > .switcher-span {
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #dddbdd;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: 400ms ease;
}
.switcher-checkbox:checked + .switcher {
    background-color: #724d75;
}
.switcher-checkbox:checked + .switcher > .switcher-span {
    background-color: #fafafa;
    left: 20px;
}
.my-form.theme-light input {
    background: rgb(255, 253, 255);
    
}

.my-form.theme-light  .login {
    background: #8d8999;
    color: #100818;
    border: 2px black;



}

.my-form.theme-light button{
    background: #8d8999;
    color: #100818;
    font-family: sans-serif;
    font-size: 11px;
    border: 2px solid #8d8999;
}
.my-form.theme-light .input-field:focus {
    
    border: 1px solid #8d8999;
    
}

.my-form.theme-light{
    background: radial-gradient(circle, rgb(245, 232, 235) 14%, rgba(141,137,153,1) 86%);


}
































































































